body {
    font-family: 'Pacifico', cursive;
    padding: 20px;
}

.form-container {
    background-color: #44444c;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.label-highlight {
    background-color: #fffae5;
    display: block;
    width: 100%;
    padding: 10px 12px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.btn-primary {
    padding: 10px 20px;
}

.prediction {
    color: #db6307;
    font-weight: bold;
    margin-top: 20px;
}

.header-title {
    color: #f39c12;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.sub-title {
    color: #E50914;  /* Updated blue to red */
    font-size: 1.5em;
    margin-bottom: 10px;
}

.select-location {
    color: #E50914;  /* Set to red */
    font-size: 1.5em;
    margin-bottom: 10px;
}

.prediction-output {
    color: #e74c3c;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 20px;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    .header-title {
        font-size: 1.8em;
    }
    .sub-title, .select-location, .prediction-output {
        font-size: 1.2em;
    }
    .form-container {
        padding: 15px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    .header-title {
        font-size: 2.2em;
    }
    .sub-title, .select-location, .prediction-output {
        font-size: 1.4em;
    }
    .form-container {
        padding: 25px;
    }
}

@media screen and (min-width: 1201px) {
    .header-title {
        font-size: 2.5em;
    }
    .sub-title, .select-location, .prediction-output {
        font-size: 1.5em;
    }
    .form-container {
        padding: 30px;
    }
}

